<thead>
    <tr>
        <th>Date</th>
        <th>Book No.</th>
        <th>Order No.</th>
        <th>Tax Invoice</th>
        <th>Supplier</th>
        <th>PC</th>
        <th>Stone</th>
        <th>H/NH</th>
        <th>Color</th>
        <th>Shape</th>
        <th>Size</th>
        <th>Carats</th>
        <th>Currency (US/THB)</th>
        <th>Price per Unit</th>
        <th>PER</th>
        <th>Total THB</th>
        <th>Weight per Piece</th>
        <th>Price $/ct</th>
        <th>Price $ per Piece</th>
        <th>Total USD</th>
        <th>Rate Avg 2019</th>
        <th>Remarks</th>
        <th>Credit Term</th>
        <th>Target Size</th>
    </tr>
</thead>

